@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Source+Sans+3:wght@400;500;600;700&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */

  color-scheme: light dark;
  background-color: #ffff;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --ReactModal__Overlay: rgba(0, 0, 0, 0.5) !important;
  --ReactModal__Content: transparent !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}
