@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Source+Sans+3:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-family: "Poppins", sans-serif;
  /* line-height: 1.5; */

  color-scheme: light dark;
  background-color: #ffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ReactModal__Overlay: rgba(0, 0, 0, 0.5) !important;
  --ReactModal__Content: transparent !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  color: #ffff;
}
